.card {
    &-button {
        color: $quiteWhite !important;
    }
    &-body {
        padding: 1rem;
    }
    &-hotel {
        max-width: 28rem;
        width: 28rem;
        @media only screen and (max-device-width: $medScreen){
            max-width: 22rem;
            width: 22rem;
        }
        &-header {
            font-family: 'Montserrat', sans-serif;
            color: $accentColor !important;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 0.25rem;

        }
    }
    &-text {
        &-bold {
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 0.25rem;
        }
        &-bigger {
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }
    }
    &-img {
        &-side {
            object-fit: cover; /* Do not scale the image */
            object-position: center; /* Center the image within the element */
            width: 100%;
            max-height: 100%;
            height: 250px;
        }
        &-top {
            object-fit: cover; /* Do not scale the image */
            object-position: center; /* Center the image within the element */
            width: 100%;
            max-height: 350px;
            height: 350px;
            
            @media only screen and (max-device-width: $medScreen){
                max-height: 250px;
                height: 250px;
            }
            &-small {
                max-height: 200px;
                height: 200px;
            }
        }
    }
    &-footer {
        &-text {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}