.footer {
    color: $quiteWhite !important;
    background-color: $mainColor !important;

    &-h1 {
        font-family: 'Cookie', cursive !important;
        color: $quiteWhite !important;
        font-size: 4rem !important;
    }

    &-icon {
        background-image: url('../assets/logo_white.png');
        background-position: center center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        height: 150px;
        width: 150px;
        margin: 0 auto 2rem auto;
        /* Hide the text. */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    &-copyright {
        color: $quiteWhite !important;

    }
}