.header {
    background-color: $gray; // Fallback
    background-image: url('../assets/michael-fousert-1205294-unsplash.jpg');
    background-position: top center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    margin-top: -$navHeight;


}    
//** Background Images for random background header  **//
//** Images from Unsplash.com **//
$urls: ( 1: 'leonard-rb-1281440-unsplash', 2: 'michael-fousert-1205294-unsplash', 3: 'ignacio-ceballos-449330-unsplash', 4: 'michael-fousert-1205288-unsplash');

@each $i, $url in $urls {
    .header-#{$i} {
        background-image: url('../assets/#{$url}.jpg');
    }
}

.search {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    &-button {
        float: right;
    }
    &-helper {
        max-width: 200px;
        margin: 0.5rem 0;
        padding: 0.3rem 0.6rem;
        border-radius: 5px;
        background-color: rgba( 255, 255, 255, 0.6);
        color: $gray !important;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }

    &-dropdown {
        z-index: 99;
        position: absolute;
        height: auto;
        padding: 0.5rem;
        list-style: none;
        &-link {
            margin: 0;
            padding: 0.5rem;

            &:hover {
                background-color: $accentColor;
                border-radius: 10px;
                color: $quiteWhite !important;
            }
        }
    }
}