/************************************************
    NAVBAR & BRAND
************************************************/
.nav {
    display: block;
    margin: 0;
    padding: 0;
    height: $navHeight;
    /* nav on Large Screen */
    @media only screen and (min-device-width: $smallScreen){
        display: flex !important;
    }

/* nav-Container */
    &-container {
        background-color: $mainColor;
        border-bottom: 2px solid $accentColor;
        /* For smooth hide/show navigation bar */
        transform: translate3d(0, 0, 0);
        @include transition(transform 0.45s cubic-bezier(0.77,0.2,0.05,1.0));


            &-hide {
                transform: translate3d(0, -90%, 0);
                @include transition(transform 0.45s cubic-bezier(0.77,0.2,0.05,1.0));
            }
        
        /* /hide/show navigation bar */
        z-index: 99 !important;
        position: fixed; // Stuck at top!
        top: 0;
        left: 0;
        width: 100vw;
    }

/* nav-Brand */
    &-brand {
        display: inline;
        position: relative;
        margin: 0 0 0 1rem;
        padding: 0 1rem;
        height: $navHeight;
        border-radius: 0.25rem;
        line-height: $navHeight;
        cursor: pointer;
        /* nav-Brand on Small Screen */
            @media only screen and (max-device-width: $smallScreen){
                display: inline-block;
            }

        &:hover {
            background-color: $accentColor;
        }

        &-text {
            font-family: 'Cookie', cursive !important;
            color: $quiteWhite !important;
            font-size: 3rem !important;

            &:hover {
                text-decoration: none !important;
            }
        }

    }

    &-admin {

        &-big {
            @media only screen and (max-device-width: $smallScreen){
                @include opacity(0);
                display: none;
            }
            float: right;
        }
        &-min {
            @media only screen and (min-device-width: $smallScreen){
                @include opacity(0);
                display: none;
            }
            position: absolute;
            bottom: 25vh;
            right: 15px;
            float: right;
        }
    }



/***********************************************
    HAMBURGER ICON 
************************************************/

    &-hamburger {

/* HIDE ON DESKTOP / TABLET */
        @media only screen and (min-device-width: $smallScreen){
            @include opacity(0);
            display: none;
        }
        
        float: right;
        width: 50px;
        height: 40px;
        margin: 13px 15px 4px 4px;
        @include transform(rotate(0deg));
        @include transition(all .55s ease-in-out);
        cursor: pointer;

/* nav-hamburger-Bar */
        &-bar {
            display: block;
            position: absolute;
            height: 7px;
            width: 50px;
            background: $quiteWhite;
            border-radius: 5px;
            @include opacity(1);
            left: 0;
            @include transform(rotate(0deg));
            @include transition(all .25s ease-in-out);
            @include transform-origin(left center);
        
            &-1 {
                top: 0px;

                &-change {
                    @include transform(rotate(45deg));
                    top: -1px;
                    left: 8px;
                }
            }
            &-2 {
                top: 15px;

                &-change {
                    width: 0%;
                    @include opacity(0);
                }
            }
            &-3 {
                top: 30px;

                &-change {
                    @include transform(rotate(-45deg));
                    top: 34px;
                    left: 8px;
                }
            }

        } // -bar
    } // -hamburger
} // .nav

/************************************************
    NAVIGATION 
************************************************/

.navigation {

/* DESKTOP / TABLET */
    @media only screen and (min-device-width: $smallScreen){
        margin: 0;
        padding: 0;

        &-show {
            @include opacity(1);
        } // navigation-show
    } // media 

/* navigation-List */
    &-list {
        padding: 0;
        margin: 0;
        list-style: none;

        @media only screen and (min-device-width: $smallScreen){

            &-item {
                position: relative;
                @media only screen and (min-device-width: $medScreen){
                    margin: 0 0 0 3rem;
                }
                padding: 0 10px;
                display: inline-block;
                line-height: $navHeight !important;
                vertical-align: middle;
                border-radius: 4px;
                @include transition(all 0.40s ease-in-out);

                &:hover {
                    background-color: $accentColor;
                } // -list-item:hover
            } // -list-item       

        } // media

    } // -list

/* navigation-link */
    &-link {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        color: $quiteWhite !important;
        position: relative;
        cursor: pointer;

        &:hover {
            text-decoration: none !important;
            color: lighten($quiteWhite, 10%) !important;
        } // -link:hover

        &-active {
            & ::after {
                position: absolute;
                width: 90%;
                height: 1px;
                bottom: 10px;
                left: 5%;
                content: '';
                background-color: $quiteWhite !important;
                /* Small Screen */
                @media only screen and (max-device-width: $smallScreen){
                    width: 92%;
                    left: 4%;
                    bottom: 5px;
                    background-color: $accentColor !important;
                } // media
            } // -link-active::after
        } // -link-active
    } // -link


    
/* HIDDEN NAV ON MOBILE */
    @media only screen and (max-device-width: $smallScreen){
        background-color: $gray;
        border-left: 2px solid lighten($gray, 10%);
        margin: 0;
        padding: 0;
        position: absolute;
        min-height: 100vh;
        width: 75%; 

        &-overlay {
            background-color: rgba(0, 0, 0, 0.7) !important;
            width: 100vw !important;
            min-width: 100vw;
            top: $navHeight;
        } // -overlay

        &-list-item {
            position: relative;
            padding: 15px 25px;
            height: 55px;
            width: 100%;

            &-admin {
                color: $accentColor !important;

                &:hover { color: $quiteWhite !important; background-color: transparent !important; }
            }
            
            &:hover {
                background-color: $accentColor;
                text-decoration: none;
            } // -list-item:hover
        } // -list-item
        
    /* HIDE NAVIGATON */
        &-hide {
            right: -105% !important;
            @include opacity(0);
            @include transition(right 0.55s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.35s 200ms);
                
        } // -hide
    /* SHOW NAVIGATION */
        &-show {
            right: 0px !important;
            @include opacity(1);
            @include transition(right 0.55s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.35s 200ms);
        } // -show
    } // media

} // navigation