@import './../../node_modules/bootstrap/scss/bootstrap';
@import './../../node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Cookie|Lato|Montserrat:400,500i,600,700,900&display=swap');

@import './partials/variables.scss';
@import './partials/navigation.scss';
@import './partials/header.scss';
@import './partials/frontpage.scss';
@import './partials/footer.scss';


/****** OVERFLOW SEARCH ***********
* {
    outline: 1px solid red;
    opacity: 1 !important; visibility: visible !important;
}
****** / OVERFLOW SEARCH ***********/


* {
    box-sizing: border-box;
}

body {
    background-color: $quiteWhite;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.vh100 {
    height: 100vh;
    min-height: 100vh;
}